<main>

	<header id="default-header">

		<hgroup>

			<h1 id="logo">Q</h1>

			<h2 id="heading">Explore More.</h2>

			<h3 id="sub-heading">Just a damn sub-heading...</h3>

		</hgroup>

	</header>
	
	<section id="default-section">
		
		<button>START A QUEST</button>

	</section>
	
	<footer id="default-footer">

		<!-- Where does the fucking ball go? -->

	</footer>

</main>